.card-footer{
    height: 600px;
    overflow-y: scroll;
   }
   
.btn.btn-warning{
    height: 30px;
    width: 120px;
    margin: 2px;
    
}

.btn.btn-danger{
    margin-top: 1px;
    height: 30px;
    width: 100px;
    margin: 2px;
}

.btn.btn-info{

    height: 30px;
    width: 80px;
    margin: 2px;
}

